{% extends "base.html" %}

{% block content %}

<section>

    <h1>📂 Projects</h1>

    <div class="projects">

        <div class="card">
            <h3>Flask First Website</h3>
            <p>My first web app using Flask and Python.</p>
        </div>

        <div class="card">
            <h3>AI Learning Tracker</h3>
            <p>A system to track my AI learning progress.</p>
        </div>

        <div class="card">
            <h3>Resume Screening AI (Hackathon Project)</h3>
            <p>
                Built a smart hiring system that filters candidates using keyword matching
                and compares multiple resumes to estimate hiring accuracy.
            </p>
        </div>

    </div>

</section>

{% endblock %}